<html>
<head>
    <link href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\css\site.css" rel="stylesheet" />
</head>
<body>
    <img src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes1.png" />
    <h1 align="center">
        Heroes For Healthcare
    </h1>
    <div>
        <img align="left" width="20%" src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes2.png" />
        <h4>
            Mission
        </h4>
        <p>
            Our non-profit organization is a resource for our military personnel to start a career in healthcare.
        </p>
        <img align="right" src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes3.png" width="20%" />

        <h4 align="right">
            Unemployed Veterans
        </h4>
        <p align="right">
            Many U.S. Veterans find it hard to secure a job in healthcare when they’re ready to work in the civilian world. Even after showing dedication, strong work ethic, and leadership while serving our country, many military members can’t find jobs.
    </div>
            <ul align="right">
                <li>453,000 unemployed veterans in 2016</li>
                <li>Post-Sept. 11 veterans tend to be unemployed at higher rates than other veterans</li>
            </ul>
    </p>
    <h4>
        Mesage from the President
    </h4>
    <p>
        I started Heroes for Healthcare to help our U.S. military personnel receive the resources and credentials they need to continue their career in healthcare as a civilian.
        <br />
        We need supporters like you to help our mission so our service members can get a job and better their lives.
        <br />
        After all they did for us, supporting this organization seems like the right thing to do. Make a difference today by supporting Heroes for Healthcare.
        <br />

    </p>
    <p>
        <a href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Views\Test.html">Home</a>
    </p>
</body>
</html>