<html>
<head>
    <link href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\css\site.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">
        Media
    </h1>
    <img width ="25%"src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Team Programming.jpg" />
    <img width="33%"src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Code Review.jpg" />
    <img width="33%" src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Definition of done.jpg" />
    <br />
    <img width ="25%"src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Hallway.jpg" />
    <img width="33%"src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Project Management.jpg" />
    <img width="33%"src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Sprint Planning.jpg" />
    <br /><br />
    <p>
        <a href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Views\Test.html">Home</a>
    </p>
</body>
</html>