<html>
<head>
    <script src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\js\site.js"></script>
    <link href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\css\site.css" rel="stylesheet" />

    <script src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" align="center">

                <img src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\CTW-CodeTheWay Logo.png" />
            </div>
            <div class="col-sm-10" align="center">
                <h1 align="center">Code the Way</h1>
            </div>
        </div>
    </div>
        <h4>
            Mission
        </h4>
        <p>
            Code the Way facilitates the collaboration of schools, companies, and nonprofits to: (1) Offer students advanced computer science training and real-world job experiences working on projects that benefit nonprofits; (2) Increase certified computer science teachers; and (3) Contribute to the technology talent base.
            <br />
            Code the Way model includes
            <ul>
                <li>
                    Student access to real-world job experience – In addition to an advanced course that may earn post-secondary credits, students get experience working collaboratively on a project that benefits a nonprofit, culminating in a presentation to business leaders.
                </li>
                <li>
                    Companies are part of the solution – Companies invest in education, make technology more accessible to nonprofits, offer their employees a meaningful volunteer experience, and contribute to the talent pipeline.
                </li>
                <li>
                    Increasing certified computer science teachers – Support and training for computer science teacher certification increase the availability and quality of high school computer science programs.
                </li>
            </ul>
            <br /><br />
        </p>
        <button onclick="showHide('text')">Show</button>
        <div align="right">
            <div class="tooltip">
                <img align="right" class="tooltip" src="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Media-Code Review.jpg" />
                <span class="tooltiptext">Text</span>
            </div>
            <h4 align="right">
                Vision
            </h4>
            <p id="text">
                High school students in Greater Milwaukee have access to high-quality computer science education and real-world job experiences, positioning them for success in technology-related fields
            </p>
        </div>
        <br /><br />
        <h4>
            Links
        </h4>
        <p>
            <ul>
                <li>
                    <a href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Views\H_f_H.html">Heroes for Healthcare</a>
                </li>
                <li>
                    <a href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Views\L_N.html">Life Navigators</a>
                </li>
                <li>
                    <a href="C:\CodingStuff\FrontEnd\WebsiteExercises\WebsiteExercises\Views\Media.html">Media</a>
                </li>
            </ul>
        </p>

</body>
</html>