<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Heroes For Healthcare</title>
</head>
<body>
    <img src="C:\Git Repositories\Code The Way 2021\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes1.png" />
    <h1 align="center">Heroes For Healthcare</h1>
    <img align="left" width="295" height="170" src="C:\Git Repositories\Code The Way 2021\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes2.png" />
    <h4 align="left">Mision</h4>
    <p>Our non-profit organization is a resource for our military personnel to start a career in healthcare.</p>
    <img width="310" height="180 "align="right" src="C:\Git Repositories\Code The Way 2021\FrontEnd\WebsiteExercises\WebsiteExercises\Images\Heroes3.png" />
    <h4 align="right">Unemployed Veterans</h4>
    <p align="right">Many U.S. Veterans find it hard to secure a job in healthcare when they’re ready to work in the civilian world. Even after showing dedication, strong work ethic, and leadership while serving our country, many military members can’t find jobs.</p>
    <ul>
        <li align="right">453,000 unemployed veterans in 2016</li>
        <li align="right">Post-Sept. 11 veterans tend to be unemployed at higher rates than other veterans</li>
    </ul>

    <h4 align="left">Message From The President</h4>
    <p>
        I started Heroes for Healthcare to help our U.S. military personnel receive the resources and credentials they need to continue their career in healthcare as a civilian.

        We need supporters like you to help our mission so our service members can get a job and better their lives.

        After all they did for us, supporting this organization seems like the right thing to do. Make a difference today by supporting Heroes for Healthcare.
    </p>
</body>
</html>